.footer {
	background-color: $colorBlue;
	&__container {
		padding: 24px 32px;
		padding-right: 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 34.375em) {
			padding: 16px 11px;
		}
	}
	&__body {
		display: flex;
		flex-direction: column;
		flex: 0 0 12rem;
	}
	&__name {
		color: $mainWhite;
		margin-bottom: 3px;
		@media (max-width: 34.375em) {
			margin-bottom: 8px;
		}
	}
	&__copy {
		color: $mainLtGray;
		@extend %text;
	}
	&__scroll {
		cursor: pointer;
		color: $mainWhite;
		& > *:not(:last-child) {
			margin-right: 8px;
		}
		&_mini {
			display: none;
		}
		@media (max-width: 34.375em) {
			&_mini {
				display: inline-block;
			}
			&_big {
				display: none;
			}
		}
	}
}
//====================================================================================================

//====================================================================================================
