//<ГОТОВЫЕ КЛАССЫ>====================================================================================================
//устанавливает картинку как background  с помощью JS и CSS
.ibg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	img {
		display: none;
	}
}
//</ГОТОВЫЕ КЛАССЫ>====================================================================================================
//<ОСНОВНОЙ БЛОК>====================================================================================================
._anim {
	transform: translate(0px, 100%);
	opacity: 0;
	transition: all 0.8s ease;
	&._active,
	._active & {
		opacity: 1;
		transform: translate(0px, 0px);
	}
	&_dur {
		transition-delay: 0.3s;
	}
}
._anim-cuble {
	transform: scale(0);
	opacity: 0;
	transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.3s;
	&._active,
	._active & {
		opacity: 1;
		transform: scale(1);
	}
}
.button {
	display: block;
	padding: 12px 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	box-shadow: 0px 8px 24px rgba(60, 73, 221, 0.1);
	border-radius: 16px;
	@extend %headline;
	&_blue {
		background-color: $inactiveBlue;
		color: $mainWhite;
		&:hover {
			background-color: $hoverBlue;
		}
		&:active {
			background-color: $colorBlue;
		}
	}
	&_white {
		color: $inactiveBlue;
		&:hover {
			color: $hoverBlue;
		}
		&:active {
			color: $colorBlue;
		}
		background-color: $mainWhite;
	}
	&:hover {
		box-shadow: 0px 24px 24px rgba(80, 93, 236, 0.25);
	}
	&:active {
		box-shadow: none;
	}
	@media (max-width: 29.99875em) {
		padding: 10.5px 24px;
	}
}
.title {
	padding: 0 32px;
	margin-bottom: 40px;
	@extend %h2;
	color: $mainBlack;
	@media (max-width: 34.375em) {
		padding: 0 12px;
		font-size: 1.125rem;
		line-height: 1.25;
	}
}
.block {
	&__body {
		padding-top: 120px;
	}
	&__title {
		@extend %h1;
		color: $mainBlack;
		margin-bottom: 40px;
	}
	&__form {
		margin-bottom: 120px;
	}
	&__further {
		display: flex;
		align-items: center;
		color: $mainWhite;
		@extend %text;
		position: absolute;
		bottom: 80px;
		p {
			margin-left: 8px;
		}
	}
	@media (max-width: 65.625em) {
		&__body {
			padding-top: 40px;
		}
		&__title {
			max-width: 11.2142857em;
		}
		&__form {
			margin-bottom: 0;
		}
		&__further {
			display: none;
		}
	}
	@media (max-width: 34.375em) {
		&__title {
			max-width: none;
			text-align: center;
		}
		&__form {
			margin-bottom: 40px;
		}
	}
}
.form {
	&__form {
		position: relative;
		width: 29.0625rem;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 16px;
		input {
			font-family: Arial, Helvetica, sans-serif;
			width: 100%;
			background: rgba(255, 255, 255, 0.5);
			border: 1px solid;
			border-image-source: linear-gradient(268.91deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
			border-radius: 16px;
			color: $mainBlack;
			padding: 20px 160px 20px 16px;
			&::placeholder {
				font-size: 1.125rem;
				line-height: 1.35;
				@media (max-width: 34.375em) {
					font-size: 0.875rem;
				}
				color: $mainGray;
			}
			&:focus,
			&:hover {
				box-shadow: 0 2px 15px 3px rgba(130, 127, 127, 0.6);
			}
		}
		&_two {
			input {
				background: #f2f2f2;
			}
		}
		button {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			right: 8px;
			box-shadow: none;
			&:hover {
				box-shadow: none;
			}
		}
	}
	&__text {
		@extend %discription;
		color: #595959;
		span {
			* {
				color: $hoverBlue;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	@media (max-width: 65.625em) {
		&__form {
			max-width: 28.125rem;
		}
	}
	@media (max-width: 34.375em) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&__form {
			width: 100%;
			input {
				padding: 18px 125px 18px 16px;
			}
		}
		&__text {
			text-align: center;
		}
	}
}
.row-advantage {
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
	//backdrop-filter: blur(24px);
	border-radius: 24px;
	border: 1px solid;
	border-image-source: linear-gradient(243.82deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.25) 100%);
	&__header {
		padding: 12px 16px;
		display: flex;
	}
	&__emoji {
		flex: 0 0 3.5rem;
		height: 3.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 12px;
		img {
			width: 100%;
			object-fit: cover;
		}
	}
	&__title {
		align-self: center;
		@extend %h3;
		color: $mainBlack;
	}
	&__text {
		padding: 24px;
		padding-top: 16px;
		color: $mainGray;
	}
	@media (max-width: 34.375em) {
		&__emoji {
			flex-basis: 2.25rem;
		}
		&__text {
			padding: 16px;
			padding-top: 12px;
		}
	}
}
.body-about {
	&__list {
		margin-bottom: 30px;
		display: flex;
		align-items: center;
		color: $mainWhite;
		span {
			display: inline-block;
			width: 24px;
			height: 1.5px;
			background-color: #fff;
			margin: 0 16px;
		}
		li {
			cursor: pointer;
			&:hover {
				color: $colorBlue;
			}
			&._active {
				color: $colorBlue;
			}
		}
	}
	&__scroll {
		overflow: hidden;
		display: flex;
		max-width: 463px;
	}
	&__title {
		margin: 0 0 16px 0;
		padding: 0;
	}
	&__subtitle {
		margin-bottom: 24px;
		color: $colorBlue;
		@extend %headline;
	}
	&__text {
		color: $mainGray;
		& > p:not(:last-child) {
			margin-bottom: 16px;
		}
	}
	&__btn {
		margin-top: 71px;
		display: inline-block;
	}
	@media (max-width: 65.625em) {
		&__list {
			color: darkgrey;
			span {
				background-color: darkgrey;
			}
		}
		&__btn {
			margin-top: 40px;
		}
	}
	@media (max-width: 34.375em) {
		&__list {
			margin-bottom: 24px;
			span {
				margin: 0 6px;
				width: 16px;
			}
		}
		&__title {
			margin-bottom: 8px;
		}
		&__text {
			& > p:not(:last-child) {
				margin-bottom: 8px;
			}
		}
		&__btn {
			display: block;
		}
		&__title {
			font-size: 1.625rem;
			line-height: 1.25;
		}
	}
}
.scroll {
	flex-basis: 0 0 500px;
}
._none {
	display: none;
}
.row-tariffs {
	padding: 24px;
	padding-top: 20px;
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
	//backdrop-filter: blur(24px);
	border-radius: 24px;
	border: 1px solid;
	border-image-source: linear-gradient(243.82deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.25) 100%);
	&__header {
		@extend %h3;
		margin-bottom: 44px;
	}
	&__title {
		color: $mainBlack;
		margin-bottom: 8px;
	}
	&__price {
		color: $colorBlue;
		span {
			color: $mainGray;
		}
	}
	&__list {
		margin-bottom: 16px;
		& > *:not(:last-child) {
			margin-bottom: 16px;
		}
	}
	&__item {
		display: flex;
	}
	&__icon {
		height: 2rem;
		flex: 0 0 2rem;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		padding-top: 2px;
		margin-right: 16px;
	}
	&__text {
		color: $mainGray;
	}
	&__btn {
		box-shadow: none;
		border-radius: 0px;
		width: 100%;
		padding: 16px 0;
		text-align: center;
	}
	@media (max-width: 34.375em) {
		&__header {
			margin-bottom: 31px;
		}
		&__title {
			margin-bottom: 4px;
		}
		&__list {
			margin-bottom: 40px;
		}
	}
}
.review {
	@-moz-document url-prefix() {
		background: rgba(255, 255, 255, 1);
	}
	background: rgba(255, 255, 255, 1);
	box-shadow: -2px 4px 20px rgba(25, 25, 25, 0.025);
	//backdrop-filter: blur(240px);
	border-radius: 16px;
	border: 1px solid;
	border-image-source: linear-gradient(261.69deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.25) 100%);
	display: flex;
	flex-direction: column;
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 16px;
		padding-right: 24px;
	}
	&__user {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
	}
	&__avatar {
		align-self: start;
		flex: 0 0 4rem;
		height: 4rem;
		border-radius: 50%;
		overflow: hidden;
		margin-right: 16px;
		position: relative;
		img {
			position: absolute;
			object-fit: cover;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	&__name {
		color: $mainBlack;
		@extend %h3;
		padding-right: 15px;
	}
	&__data {
		color: $mainGray;
	}
	&__body {
		flex: 1 0 auto;
		padding: 16px 24px;
		display: flex;
		flex-direction: column;
	}
	&__text {
		flex: 1 0 auto;
		margin-bottom: 16px;
	}
	&__grade {
		& > *:not(:first-child) {
			margin-right: 4px;
		}
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
	}
	&__star {
		display: inline-block;
		width: 24px;
		height: 24px;
		font-size: 1.5rem;
	}
	@media (max-width: 34.375em) {
		&__header {
			padding: 12px 16px;
		}
		&__avatar {
			flex: 0 0 3rem;
			height: 3rem;
		}
	}
}
.question {
	box-shadow: -2px 4px 20px rgba(25, 25, 25, 0.025);
	//backdrop-filter: blur(240px);
	border-radius: 16px;
	border: 1px solid;
	border-image-source: linear-gradient(269.7deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.25) 100%);
	overflow: hidden;
	&__title {
		cursor: pointer;
		background: rgba(255, 255, 255, 0.35);
		color: $mainBlack;
		@extend %h2;
		padding: 28px 32px;
		position: relative;
	}
	&__text {
		padding: 24px;
		padding-top: 16px;
		color: $mainGray;
		transition: all 0.3s ease 0s;
	}
	@media (max-width: 34.375em) {
		&__title {
			padding: 24px 16px;
		}
	}
}
.icon-notActive {
	color: $mainGray;
	transition: color 0.05s ease 0s;
	&._active,
	&:hover,
	&:hover ~ .icon-notActive {
		color: $colorBlue;
	}
}
.icon-question {
	display: block;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 32px;
	width: 3rem;
	height: 3rem;
	z-index: 5;
	background: rgba(255, 255, 255, 1);
	&::before {
		content: "";
		transition: all 0.5s ease 0s;
		position: absolute;
		top: 50%;
		left: 25%;
		width: 1.5rem;
		height: 0.125rem;
		background-color: $mainBlack;
		border-radius: 70px;
		transform: translate(-50%, -50%);
		transform: rotate(0);
	}
	&::after {
		content: "";
		transition: all 0.5s ease 0s;
		position: absolute;
		top: 50%;
		left: 25%;
		width: 1.5rem;
		height: 0.125rem;
		background-color: $mainBlack;
		border-radius: 70px;
		transform: translate(-50%, -50%);
		transform: rotate(90deg);
	}
	&._active {
		&::after {
			transform: rotate(45deg);
		}
		&::before {
			transform: rotate(-45deg);
		}
	}
	@media (max-width: 34.375em) {
		width: 2rem;
		height: 2rem;
		&::before,
		&::after {
			width: 1rem;
		}
	}
}
.popup {
	-webkit-overflow-scrolling: touch;
	z-index: 100;
	padding: 30px 10px;
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease 0s;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	&::before {
		content: "";
		background-color: rgba(0, 0, 0, 0.9);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		transition: all 0.5s ease 0s;
	}
	&.show {
		// отличие от _active в том, что show открывается без задержки
		visibility: visible;
		overflow: auto;
		&::before {
			opacity: 1;
		}
		.popup__content {
			transform: translate(0, 0) skew(0);
			opacity: 1;
		}
	}
	&._active {
		overflow: auto;
		visibility: visible;
		&::before {
			opacity: 1;
		}
		.popup__content {
			transition: all 0.5s ease 0.2s;
			transform: translate(0, 0) skew(0);
			opacity: 1;
		}
	}
	&__body {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
		overflow-x: hidden;
	}
	&__content {
		cursor: pointer;
		transform: translate(100%, 0) skew(-20deg);
		transition: all 0.5s ease 0s;
		background-color: #595959;
		color: #fff;
		padding: 40px;
		max-width: 900px;
		border-radius: 20px;
		opacity: 0;
		@media (max-width: 34.375em) {
			padding: 30px;
		}
	}
	&__text {
		@extend %headline;
	}
	p {
		margin-bottom: 0.7em;
		@extend %h2;
	}
	span {
		margin-right: 10px;
		@extend %h3;
	}
	li:not(:last-child) {
		margin-bottom: 0.9375em;
	}
	&__close {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 15px;
		right: 15px;
		cursor: pointer;
		z-index: 30;
		background: url("../img/icon/close.svg") 0 0 no-repeat;
	}
	&__form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__text {
		align-self: start;
	}
	input {
		font-family: Arial, Helvetica, sans-serif;
		width: 100%;
		background: rgba(255, 255, 255, 0.5);
		border-radius: 16px;
		color: $mainBlack;
		padding: 20px 40px 20px 16px;
		display: block;
		&::placeholder {
			font-size: 1.125rem;
			line-height: 1.35;
			@media (max-width: 34.375em) {
				font-size: 0.875rem;
			}
			color: $mainWhite;
		}
		&:focus,
		&:hover {
			box-shadow: 0 2px 15px 3px rgba(130, 127, 127, 0.6);
		}
		margin-bottom: 20px;
	}
	&__btn {
		display: block;
		margin-bottom: 20px;
		&:hover {
			box-shadow: none;
		}
	}
	&__link {
		display: block;
		color: $mainWhite;
		&:hover {
			color: $hoverBlue;
		}
	}
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
