@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "_mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "_fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Visuelt Pro";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1374;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;
$mainWhite: #ffffff;
$mainBlack: #1a1a1a;
$mainGray: #808080;
$mainLtGray: #d9d9d9;
$hoverBlue: #505dec;
$inactiveBlue: #3c49dd;
$colorBlue: #4754eb;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ШАБЛОНЫ>===========================================================================================================
%h1 {
	font-size: 3.5rem;
	font-weight: 500;
	line-height: 1.25;
	@media (max-width: 34.375em) {
		font-size: 2.25rem;
	}
}
%h2 {
	font-size: 2.25rem;
	font-weight: 500;
	line-height: 1.111;
	@media (max-width: 34.375em) {
		font-size: 1.625rem;
		line-height: 1.25;
	}
}
%h3 {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1;
	@media (max-width: 34.375em) {
		font-size: 1.125rem;
		line-height: 1.25;
	}
}
%headline {
	font-weight: 500;
	line-height: 1.333;
	@media (max-width: 34.375em) {
		font-size: 0.875rem;
	}
}
%text {
	font-size: 1rem;
	line-height: 1.375;
	@media (max-width: 34.375em) {
		font-size: 0.875rem;
	}
}
%discription {
	font-size: 0.75rem;
	line-height: 1.35;
	@media (max-width: 34.375em) {
		font-size: 0.625rem;
	}
}
//</ШАБЛОНЫ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "_null";
body {
	font-size: 1.125rem;
	line-height: 1.35;
	@media (max-width: 34.375em) {
		font-size: 0.875rem;
	}
	color: $mainBlack;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 25px;
	@media (max-width: 86.625em) {
		//max-width: 970px;
	}
	@media (max-width: 65.625em) {
		max-width: 702px;
	}
	@media (max-width: 34.375em) {
		max-width: none;
		padding: 0 9px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "_forms";
@import "_ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "_header";
@import "_footer";
@import "_home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
